#one{
    font-size: 42px;
    color:brown;
    font-family: nunito;
    font-weight: 600;
    text-transform:uppercase;
}
#two{
    font-size: 30px;
    color: blueviolet;
}
#three{
    font-size: 30px;
    color: red;
}


#kiran{
background-color: brown;
color: wheat;
}


.mrj{
background-color: aqua;
color: black;
text-transform: uppercase;
font-family: poppins;
font-size: 36px;
}

#animal{
background-color: chocolate;
color: aliceblue;
text-transform: lowercase;
font-size: 40px;
font-style: italic;
font-weight: 400;

}
#fruit{
    background-color: cadetblue;
    color:blue;
    text-transform: uppercase;
    font-size: 50px;
    font-style:oblique;
    font-weight: 600;  
    }
    .dog{
        background-color: chartreuse;
        color:black;
        text-transform:capitalize;
        font-size: 60px;
        font-style:normal;
        font-weight: 700;  
        border: 4px solid;
        border-color: crimson;
        padding: 60px;
    }
    h2{
        font-size: 72px;
        background-color: coral;
        color: azure;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }